{% extends "/admin/base.html" %}
{% block title %}Products Create{% endblock %}

{% block content  %}
<div class="container">
    <!-- Added your content -->
    <h5 class="text-center">PRODUCTS CREATE</h5>

    <form class="my-3" method="POST" action="/admin/products_create">

        <div class="row">
              <div class="col-md-3"></div>

              <div class="col-md-6">

                  <div class="card" >
                    
                      <div class="card-body">
                          <h5 class="card-title text-center">Products</h5>
                          <p class="card-text text-center">Please Enter the Products details.</p>
                            
                          <label for="pname" class="form-label">Enter Product Name :</label>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="pname">@</span>
                              <input type="text" id="pname" name="pname" class="form-control" placeholder="Product name" 
                                  aria-label="pname" aria-describedby="basic-addon1" required>
                          </div>

                          <label for="price" class="form-label">Enter Product Price :</label>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="price">@</span>
                              <input type="text" id="price" name="price" class="form-control" placeholder="Product price"
                                  aria-label="price" aria-describedby="basic-addon1" required>
                          </div>

                          <label for="image" class="form-label">Enter Product Image :</label>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="image">@</span>
                              <input type="text" id="image" name="image" class="form-control" placeholder="Product image"
                                  aria-label="image" aria-describedby="basic-addon1" required>
                          </div>

                          <label for="details" class="form-label">Enter Product details :</label>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="details"></span>
                              <input type="text" id="details" name="details" class="form-control" placeholder="Product details"
                                  aria-label="details" aria-describedby="basic-addon1" required>
                          </div>

                          <label for="category" class="form-label">Enter Product category :</label>
                          <div class="input-group mb-3">
                              <select id="category" class="form-select my-3" name="category" aria-label="Default select example">
                                <option value="crops" >Crops</option>
                                <option value="Fruits">Fruits</option>
                                <option value="Vegetables">Vegetables</option>
                                <option value="Seeds">Seeds</option>
                                <option value="Fertilizers">Fertilizers</option>
                              </select>
                          </div>
                          
                          <h5 class="text-danger">{{msg}}</h5>
                          <div class="d-grid gap-2 col-6 mx-auto ">
                          <button class="btn btn-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                          </svg> Add The Product</button>
                          <button class="btn btn-danger" type="reset"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                          </svg> CLEAR</button>
                          </div>
                         
                      </div>
                  </div>

              </div>

   </form>


</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    
</script>
{% endblock %}